### Maven ###
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
HELP.md
log/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**
!**/src/test/**

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/

### VS Code ###
.vscode/

.DS_Store
.vagrant

### neo4j server ###
/kulana-backend/database/neo4j/

### ignore folder of Python caches (anywhere in project) ###
__pycache__/

### liza-service migrations ###
#/kulana-backend/liza-service/Step_1/migrations

### liza-service db.sqlite3 ###
/kulana-backend/liza-service/db.sqlite3
